html,
body,
#root {
  margin: 0;
  padding: 0;
}

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  box-sizing: border-box;
}