.skeletonContainer {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) repeat(5, 0.8fr) repeat(3, 1fr) 0.5fr;
  grid-auto-rows: minmax(40px, auto);
  gap: 1px;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-border);
  box-sizing: border-box;
}

.skeletonHeaderRow {
  display: contents;
}

.skeletonBodyRow {
  display: contents;
}

.skeletonCell {
  background-color: var(--color-foreground);
  padding: 8px;
  box-sizing: border-box;
}

.skeletonHeaderCell {
  background-color: var(--color-secondary);
  font-weight: bold;
}


.skeletonBodyCell {
  background-color: var(--color-background);
}

.animatedBackground {
  animation: loading 1.5s infinite linear;
  background: linear-gradient(to right, var(--color-background-shimmer) 8%, var(--color-foreground-shimmer) 18%, var(--color-background-shimmer) 33%);
  background-size: 1000px 100%;
}

@keyframes loading {
  0% {
    background-position: -500px 0;
  }

  100% {
    background-position: 500px 0;
  }
}